@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navIcon {
    @apply hover:bg-gray-500 p-2 px-4 active:text-black active:bg-black flex justify-center items-center;
  }

  .navActive {
    @apply border-b-4 border-white;
  }

  .summary {
    @apply flex justify-between mx-12;
  }
}

.product {
  width: 20rem;
}

.productModal {
  width: 27rem;
}

.home {
  height: 85dvh;
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-position: right center;
}

.fillScreen {
  min-height: 90dvh;
}

.footerElement:hover {
  transform: scale(1.05);
  color: yellow;
}

.cartItem {
  min-width: 500px;
}
